#
BASE_PATH=""
#  Single user: 'username:hash'. Multiple users: comma-separated 'user:hash' entries.
AUTH_USER_PASS='alice:$2y$10$DSTi9o0uQPEHSNlf66xMEOgm9KgVNBP3vHxA3SK0Xha2EVMb3mTXm,bob:$2y$10$DSTi9o0uQPEHSNlf66xMEOgm9KgVNBP3vHxA3SK0Xha2EVMb3mTXm'
API_BASE_URL="http://garage:3903"
S3_ENDPOINT_URL="http://garage:3900"
API_ADMIN_KEY=""
SESSION_COOKIE_SECURE="false"
